<header id="header">
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem site-title"><a id="logo" href="/">â‹ </a><a href="/">Classable</a></li>
            {{#if show_navbar}}
                {{> navbar}}
            {{/if}}
        </ul>
    </nav>
</header>
