<header id="header">
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem site-title"><a id="logo" href="http://localhost:3000/">⋐ </a><a href="http://localhost:3000/">Classable</a></li>
            <!--<li class="navitem tagline">A website for reviewing OSU classes</li>-->

            <!-- <li class="navitem navlink active"><a href="#">Home</a></li>
            <li class="navitem navlink"><a href="#">Trending</a></li>-->

            {{#if show_navbar}}
                {{> navbar}}
            {{/if}}
        </ul>
    </nav>
</header>