<div id="modal-backdrop" class="hidden"></div>
<div id="add-review-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <h3>Add a review</h3>
    </div>
    <div class="modal-body">
      <div class="review-input-element">
        <label for="review-title">Review title</label>
        <input type="text" id="review-title-input">
      </div>
      <div class="review-input-element">
        <label for="review-text-input">Review text</label>
        <textarea id="review-text-input"></textarea>
      </div>
      <div class="review-input-element">
        <label for="review-text-input">Review score /100</label>
        <textarea id="review-score-input"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Submit</button>
    </div>
  </div>
</div>
