<li class="navitem navbar-search">
    <input type="text" id="navbar-search-input" placeholder="Search classes here">
    <button type="button" id="navbar-search-button" onclick="createreview()"><i class="fas fa-search"></i></button>
</li>