<li class="navitem navbar-search">
  <div class="navbar-div">
    <button type="button" id="navbar-search-button" onclick="createreview()"><i class="fas fa-search"></i></button>
    <input type="text" id="navbar-search-input" placeholder="Type the name of a class to search">
  </div>
</li>
