<article class="review">
  <div class="review-content">
    <span class="review-title">
      {{title}}
    </span>
    <span class="review-rating">
      Rating: {{rating}}/100
    </span>
    <div class="review-text">
      {{text}}
    </div>
  </div>
</article>
