<script src="/classview.js" charset="utf-8" defer></script>
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
<div class="class-view">
  <div class="left-classview" style="border-left: 10px solid {{color}}">
    <h1 class="classname" id="name">{{id}}</h1>
    <div id="plot"></div>
  </div>
  <div class="right-classview">
    <h1 class="classname">Student Reviews</h1>
    <div class="review-container">
      {{#each reviews}}
        {{> review}}
      {{/each}}
    </div>
    <button id="create-review-button" onclick="show_modal()">Create Review</button>
  </div>
</div>
{{> modal}}