<script src="/classview.js" charset="utf-8" defer></script>
<div class="class-view">
  <div class="left-classview">
    <h1 class="classname">{{title}}</h1>
  </div>
  <div class="right-classview">
    <h1 class="classname">Student Reviews</h1>
    <div class="review-container">
      {{#each reviews}}
        {{> review}}
      {{/each}}
    </div>
    <button id="create-review-button" onclick="show_modal()">Create Review</button>
  </div>
</div>
{{> modal}}
