<div class="class-view">
  <div class="left-classview">
    <h1 class="classname">Classname</h1>
  </div>
  <div class="right-classview">
    <h1 class="classname">Student reviews</h1>
    <div class="review-container">

    </div>
  </div>
</div>