<div class="class-view">
  <div class="left-classview">
    <h1 class="classname">Class Name</h1>
  </div>
  <div class="right-classview">
    <h1 class="classname">Student Reviews</h1>
    <div class="review-container">
      {{#each reviews}}
        {{> review}}
      {{/each}}
    </div>
    <div class="create-review-container">
      <input  type="text" id="review-author">
      <textarea id="review-text"></textarea>
    </div>
    <button id="create-review-button" onclick="createreview()">Create Review</button>
  </div>
</div>