<div class="class-view">
  <div class="left-classview">
    <h1 class="classname">Class Name</h1>
  </div>
  <div class="right-classview">
    <h1 class="classname">Student Reviews</h1>
    <div class="review-container">

    </div>
  </div>
</div>
