body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}
.navbar {
	background: black;
	font-size: 18px;
	width: 100%;
	height: 100px;
	display: inline-block;
}

.navlist {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}

.navitem {
	float: left;
	margin: 32px;
	display: inline-block;
}

.site-title {
	float: left;
	margin: 0px;
	margin-left: 15px;
	padding: 15px;
	font-size: 35px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
}

.tagline {
	float: left;
	margin: 0px;
	padding: 30px;
	font-size: 40px;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

.site-title a {
	color: white;
}

.site-title #logo {
	font-size: 50px;
	color: white;
	padding-top: -10px;
}

.navlink a {
	padding: 8px 10px;
}

.classname{
	color: rgb(83, 83, 83);
}

.class-view{
	display: flex;
	flex-direction: row;
	width:100%;
}

.navbar-search {
	vertical-align: top;
}

#navbar-search-input {
	background-color: black;
	border-radius: 0px 10px 10px 0px;
	height: 28px;
	width: 600px;
	font-size: 24px;
	color: white;
	border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #777;
  }

#navbar-search-input:focus {
	outline: none;
	color: white;
}

#navbar-search-button {
	border-radius: 5px 0px 0px 5px;
	background-color: black;
	height: 30px;
	width: 40px;
	font-size: 20px;
	color: #777;
	border: none;
}

#navbar-search-button:hover {
	color: white;
	cursor: pointer;
}

#navbar-search-button:active {
	color: #777;
}

.left-classview{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	margin: 20px;
	display: inline-block;
	width: 33%;
	border: 2px solid #bebebe;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.right-classview{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	margin: 20px;
	border: 2px solid #bebebe;
	display: inline-block;
	width: 100%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.classname{
	text-align: center;
}
.review{
	border-radius: 10px;
	background-color: #777;
	margin: 15px;
	color: #eee;
}
.review-content{
	padding: 1px 10px;
}
.review-author{
	font-size: 18px;
	font-weight: 700;
}

.review-headline{
	font-weight: 700;
	font-size: 18px;
}

#create-review-button{
	position: relative;
	left: 30px;
	width: 100px;
	height: 50px;
	margin: 10px;
}

#errpage {
	padding: 25px;
	color: white;
}
