body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #e7e7e7;
}

a {
	text-decoration: none;
	color: white;
}
.navbar {
	background: black;
	font-size: 18px;
	width: 100%;
	height: 100px;
	display: inline-block;
}

.navlist {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}

.navitem {
	float: left;
	margin: 32px;
	display: inline-block;
}

.site-title {
	float: left;
	margin: 0px;
	margin-left: 15px;
	padding: 15px;
	font-size: 35px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
}

.tagline {
	float: left;
	margin: 0px;
	padding: 30px;
	font-size: 40px;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
}

.site-title a {
	color: white;
}

.site-title #logo {
	font-size: 50px;
	color: white;
	padding-top: -10px;
}

.navlink a {
	padding: 8px 10px;
}

.classname{
	color: rgb(83, 83, 83);
}

.class-view{
	display: flex;
	flex-direction: row;
	width:100%;
}

.navbar-search {
	vertical-align: top;
}

#navbar-search-input {
	background-color: black;
	border-radius: 0px 10px 10px 0px;
	height: 28px;
	width: 600px;
	font-size: 24px;
	color: white;
	border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #777;
  }

#navbar-search-input:focus {
	outline: none;
	color: white;
}

#navbar-search-button {
	border-radius: 5px 0px 0px 5px;
	background-color: black;
	height: 30px;
	width: 40px;
	font-size: 20px;
	color: #777;
	border: none;
}

#navbar-search-button:hover {
	color: white;
	cursor: pointer;
}

#navbar-search-button:active {
	color: #777;
}

#header {
	position: fixed;
	width: 100%;
	/*margin-top: -50px;*/
}

.left-classview{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	margin: 20px;
	display: inline-block;
	width: 33%;
	border: 2px solid #bebebe;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.right-classview{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	margin: 20px;
	border: 2px solid #bebebe;
	display: inline-block;
	width: 100%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.classname{
	text-align: center;
}
.review{
	border-radius: 10px;
	background-color: #777;
	margin: 15px;
	color: #eee;
}

.class {
	background-color: white;
	margin: 50px;
}

.class:hover {
	cursor: pointer;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.class-title {
	margin: 0;
	color: black;
	font-size: 30px;
	font-weight: 700;
	padding-left: 20px;
	padding-top: 20px;
	display: inline-block;
}

.class-content {
	width: 75%;
	color: black;
	font-size: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.class-rating {
	color: rgb(45, 129, 73);
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	float: right;
}

.class-container {
	justify-content: center;
}

.review-content{
	padding: 10px;
}
.review-title{
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	text-align:center;
	display: inline-block;
	width: 80%;
}
.review-rating{
	font-size: 18px;
	font-weight: 700;
	float: right;
	padding: 10px;
	display: inline-block;

}
.review-text{
	font-size: 18px;
	font-weight: 400;
	padding: 0 10px 10px 10px;
}


#create-review-button{
	background-color: #777;
	color: white;
	font-size: 14px;
	font-weight: 700;

	width: 100px;
	height: 75px;
	margin: 15px;
	border-radius: 10px;
}

#errpage {
	padding: 25px;
	color: white;
}
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}