body {
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
	background-color: #242424;

}

a {
	text-decoration: none;
}
.navbar {
	background-color: #e5511a;
	font-size: 18px;
	line-height: 22px;
	width: 100%;
	display: inline-block;
}

.navlist {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}

.navitem {
	float: right;
	margin: 10px;
	display: inline-block;
}
.site-title {
	float: left;
	margin: 0px;
	padding: 15px;
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	color: white;
	vertical-align: middle;
}
.tagline{
	float: left;
	font-size: 15px;
	margin: 0px;
	padding-top: 16px;
	color: white;
}
.site-title a {
	color: white;
}
.navlink a {
	padding: 8px 10px;
}

.classname{
	color: #fff;
}

.class-view{
	display: flex;
	flex-direction: row;
	width:=100%;
}

.navbar-search {
	padding-top: 5px;
	vertical-align: middle
}

#navbar-search-input {
	border-radius: 5px;
	height: 24px;
	width: 300px;
	font-size: 15px;
	border: none;
}

#navbar-search-button {
	margin: 0px;
	padding: 5px 10px;
	background-color: #e5511a;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	vertical-align: middle;
}

#navbar-search-button:hover {
	border: 1px solid #242424;
}

#navbar-search-button:active {
	color: #242424;
	border: 1px solid #242424;
}

.left-classview{
	border-radius: 10px;
	background-color: #555;
	margin: 20px;
	display: inline-block;
	width: 33%;
}
.right-classview{
	border-radius: 10px;
	background-color: #555;
	margin: 20px;
	display: inline-block;
	width: 100%;
}
.classname{
	text-align: center;
}
.review{
	border-radius: 10px;
	background-color: #777;
	margin: 15px;
	color: #eee;
}
.review-content{
	padding: 5px;
}
.review-title{
	font-size: 18px;
	font-weight: 700;
}


#create-review-button{
	position: relative;
	left: 30px;
	width: 100px;
	height: 50px;
	margin: 10px;
}
